# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build directories
bin/
/bin/
build*
main

.DS_Store
Thumbs.db

*.log

# IDE/editor stuff
.vscode/
.idea/
*.swp

# Environment/config
# docker-compose*.yml
.env
currency-exchange-bec5e-firebase-adminsdk-fbsvc-15e3f06f93.json
.env.local
config.yaml

# Cache
*.cache
